.header-container {
    padding: 1em;
  }
  
  .header-title {
    margin-bottom: 8px;
  }
  
  .stats-container {
    background-color: #626262;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    padding: 2em;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .stats-card {
    background-color: #9B9B9B;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    border-radius: 1em;
    width: 30%;
    min-width: 300px;
  }
  
  .stats-amount {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 1em;
  }
  
  .balance-amount {
    color: #B5DC52;
    font-weight: 700;
  }
  
  .expense-amount {
    color: #F4BB4A;
    font-weight: 700;
  }
  
  .add-income-btn {
    padding: 1em 2em;
    background: linear-gradient(#B5DC52,#89E148);
    border: none;
    color: #fff;
    border-radius: 1em;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .add-expense-btn {
    padding: 1em 2em;
    background: linear-gradient(#FF9595,#FF4747,#FF3838);
    border: none;
    color: #fff;
    border-radius: 1em;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .add-income-btn:hover,
  .add-expense-btn:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 1024px) {
    .stats-card {
      width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .stats-card {
      width: 100%;
    }
    
    .stats-container {
      flex-direction: column;
    }
  }
  